<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-color-background-1">
  <div class="relative overflow-hidden">
    <div class="relative pt-6 pb-16 sm:pb-24">
    {%- for block in section.blocks -%}

      {% case block.type %}

        {% when 'heading' %}

            <div class="mt-16 mx-auto max-w-7xl px-4 sm:mt-24 sm:px-6">
              <div class="text-center">
                <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl">
                  <span class="block">{{ block.settings.heading_1 }}</span>
                  <span class="block color-{{ block.settings.color_scheme }}">{{ block.settings.heading_2 }}</span>
                </h1>
              </div>
            </div>

        {% when 'text' %}
          <div class="mt-16 mx-auto max-w-7xl px-4 sm:mt-24 sm:px-6">
            <div class="text-center">
              <p class="mt-3 max-w-md mx-auto text-base text-gray-500 sm:text-lg md:mt-5 md:text-xl md:max-w-3xl">
                Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat aliqua.
              </p>
            </div>
          </div>

      {% endcase %}

    {% endfor %}
    </div>


    <div class="relative">
      <div class="absolute inset-0 flex flex-col" aria-hidden="true">
        <div class="flex-1"></div>
        <div class="flex-1 w-full bg-color-background-2"></div>
      </div>
      <div class="max-w-7xl mx-auto px-4 sm:px-6">
        {% if section.settings.image_1 %}
          <img
            style="left: -200px; top: 150px;width: 350px;height: auto"
            class="relative rounded-lg shadow-lg"
            srcset="{%- if section.settings.image_1.width >= 375 -%}{{ section.settings.image_1 | img_url: '375x' }} 375w,{%- endif -%}
            {%- if section.settings.image_1.width >= 750 -%}{{ section.settings.image_1 | img_url: '750x' }} 750w,{%- endif -%}
            {%- if section.settings.image_1.width >= 1100 -%}{{ section.settings.image_1 | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if section.settings.image_1.width >= 1500 -%}{{ section.settings.image_1 | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if section.settings.image_1.width >= 1780 -%}{{ section.settings.image_1 | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if section.settings.image_1.width >= 2000 -%}{{ section.settings.image_1 | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if section.settings.image_1.width >= 2800 -%}{{ section.settings.image_1 | img_url: '2800x' }} 2800w{%- endif -%}"
            src="{{ section.settings.image_1 | img_url: '750x' }}"
            loading="lazy"
            alt="{{ section.settings.image_1.alt | escape }}"
            width="{{ section.settings.image_1.width }}"
            height="{{ section.settings.image_1.width | divided_by: section.settings.image_1.aspect_ratio }}"
          >
        {% endif %}
      </div>
    </div>
  </div>
  <div class="bg-color-background-2">
    <div class="max-w-7xl mx-auto py-16 px-4 sm:py-24 sm:px-6 lg:px-8">
      <h2 class="text-center color-base-text text-sm uppercase tracking-wide">Trusted by over 26,000 forward-thinking companies</h2>
      <div class="mt-8 grid grid-cols-2 gap-8 md:grid-cols-6 lg:grid-cols-5">
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <img class="h-12" src="https://tailwindui.com/img/logos/tuple-logo-gray-400.svg" alt="Tuple">
        </div>
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <img class="h-12" src="https://tailwindui.com/img/logos/mirage-logo-gray-400.svg" alt="Mirage">
        </div>
        <div class="col-span-1 flex justify-center md:col-span-2 lg:col-span-1">
          <img class="h-12" src="https://tailwindui.com/img/logos/statickit-logo-gray-400.svg" alt="StaticKit">
        </div>
        <div class="col-span-1 flex justify-center md:col-span-3 lg:col-span-1">
          <img class="h-12" src="https://tailwindui.com/img/logos/transistor-logo-gray-400.svg" alt="Transistor">
        </div>
        <div class="col-span-2 flex justify-center md:col-span-3 lg:col-span-1">
          <img class="h-12" src="https://tailwindui.com/img/logos/workcation-logo-gray-400.svg" alt="Workcation">
        </div>
      </div>
    </div>
  </div>
</div>


<header class="relative h-full py-24 mb-80">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 z-20 relative flex">
    <div class="text-left w-1/2">
      <p class="mt-1 sm:text-6xl color-base-text sm:tracking-tight lg:text-8xl mb-4">{{ section.settings.text }}</p>
      <div style="font-size: 2rem" class="text-left max-w-12 mb-10 mb-4">{{ section.settings.richtext }}</div>
      {%- if section.settings.link != blank -%}
        <a href="{{ section.settings.link }}"
           class="btn px-8 py-4 border border-transparent shadow-sm color-btn bg-color-accent-1">
          {{ section.settings.button_text | escape }}
        </a>
      {%- endif -%}
    </div>

    <div class="w-1/2 relative">
      <div class="parallax z-10 h-full absolute left-0 top-0 left-0 top-0 w-full">
        {% if section.settings.image_1 %}
          <img
            style="left: -200px; top: 150px;width: 350px;height: auto"
            class="absolute thumbnail shadow-lg"
            srcset="{%- if section.settings.image_1.width >= 375 -%}{{ section.settings.image_1 | img_url: '375x' }} 375w,{%- endif -%}
            {%- if section.settings.image_1.width >= 750 -%}{{ section.settings.image_1 | img_url: '750x' }} 750w,{%- endif -%}
            {%- if section.settings.image_1.width >= 1100 -%}{{ section.settings.image_1 | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if section.settings.image_1.width >= 1500 -%}{{ section.settings.image_1 | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if section.settings.image_1.width >= 1780 -%}{{ section.settings.image_1 | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if section.settings.image_1.width >= 2000 -%}{{ section.settings.image_1 | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if section.settings.image_1.width >= 2800 -%}{{ section.settings.image_1 | img_url: '2800x' }} 2800w{%- endif -%}"
            src="{{ section.settings.image_1 | img_url: '750x' }}"
            loading="lazy"
            alt="{{ section.settings.image_1.alt | escape }}"
            width="{{ section.settings.image_1.width }}"
            height="{{ section.settings.image_1.width | divided_by: section.settings.image_1.aspect_ratio }}"
          >
        {% endif %}

        {% if section.settings.image_2 %}
          <img
            style="left: 100px; top: 350px; width: 400px;height: auto"
            class="absolute thumbnail shadow-lg"
            srcset="{%- if section.settings.image_2.width >= 375 -%}{{ section.settings.image_2 | img_url: '375x' }} 375w,{%- endif -%}
            {%- if section.settings.image_2.width >= 750 -%}{{ section.settings.image_2 | img_url: '750x' }} 750w,{%- endif -%}
            {%- if section.settings.image_2.width >= 1100 -%}{{ section.settings.image_2 | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if section.settings.image_2.width >= 1500 -%}{{ section.settings.image_2 | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if section.settings.image_2.width >= 1780 -%}{{ section.settings.image_2 | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if section.settings.image_2.width >= 2000 -%}{{ section.settings.image_2 | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if section.settings.image_2.width >= 2800 -%}{{ section.settings.image_2 | img_url: '2800x' }} 2800w{%- endif -%}"
            src="{{ section.settings.image_2 | img_url: '750x' }}"
            loading="lazy"
            alt="{{ section.settings.image_2.alt | escape }}"
            width="{{ section.settings.image_2.width }}"
            height="{{ section.settings.image_2.width | divided_by: section.settings.image_2.aspect_ratio }}"
          >
        {% endif %}

        {% if section.settings.image_3 %}
          <img
            style="right: 200px; top: -50px; width: 400px;height: auto"
            class="absolute thumbnail shadow-lg"
            srcset="{%- if section.settings.image_3.width >= 375 -%}{{ section.settings.image_3 | img_url: '375x' }} 375w,{%- endif -%}
            {%- if section.settings.image_3.width >= 750 -%}{{ section.settings.image_3 | img_url: '750x' }} 750w,{%- endif -%}
            {%- if section.settings.image_3.width >= 1100 -%}{{ section.settings.image_3 | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if section.settings.image_3.width >= 1500 -%}{{ section.settings.image_3 | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if section.settings.image_3.width >= 1780 -%}{{ section.settings.image_3 | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if section.settings.image_3.width >= 2000 -%}{{ section.settings.image_3 | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if section.settings.image_3.width >= 2800 -%}{{ section.settings.image_3 | img_url: '2800x' }} 2800w{%- endif -%}"
            src="{{ section.settings.image_3 | img_url: '750x' }}"
            loading="lazy"
            alt="{{ section.settings.image_3.alt | escape }}"
            width="{{ section.settings.image_3.width }}"
            height="{{ section.settings.image_3.width | divided_by: section.settings.image_3.aspect_ratio }}"
          >
        {% endif %}

        {% if section.settings.image_4 %}
          <img
            style="right: 50px; top: 450px; width: 250px;height: auto"
            class="absolute thumbnail shadow-lg"
            srcset="{%- if section.settings.image_4.width >= 375 -%}{{ section.settings.image_4 | img_url: '375x' }} 375w,{%- endif -%}
            {%- if section.settings.image_4.width >= 750 -%}{{ section.settings.image_4 | img_url: '750x' }} 750w,{%- endif -%}
            {%- if section.settings.image_4.width >= 1100 -%}{{ section.settings.image_4 | img_url: '1100x' }} 1100w,{%- endif -%}
            {%- if section.settings.image_4.width >= 1500 -%}{{ section.settings.image_4 | img_url: '1500x' }} 1500w,{%- endif -%}
            {%- if section.settings.image_4.width >= 1780 -%}{{ section.settings.image_4 | img_url: '1780x' }} 1780w,{%- endif -%}
            {%- if section.settings.image_4.width >= 2000 -%}{{ section.settings.image_4 | img_url: '2000x' }} 2000w,{%- endif -%}
            {%- if section.settings.image_4.width >= 2800 -%}{{ section.settings.image_4 | img_url: '2800x' }} 2800w{%- endif -%}"
            src="{{ section.settings.image_4 | img_url: '750x' }}"
            loading="lazy"
            alt="{{ section.settings.image_4.alt | escape }}"
            width="{{ section.settings.image_4.width }}"
            height="{{ section.settings.image_4.width | divided_by: section.settings.image_4.aspect_ratio }}"
          >
        {% endif %}
      </div>
    </div>
  </div>
</header>


{% schema %}
{
  "name": "t:sections.homepage-header.name",
  "settings": [
    {
      "type": "range",
      "id": "font_size",
      "min": 10,
      "max": 24,
      "step": 1,
      "default": 14,
      "unit": "t:sections.homepage-header.settings.font_size.unit",
      "label": "t:sections.homepage-header.settings.font_size.label"
    }
  ],
  "blocks": [
    {
       "type":"heading",
       "name":"t:sections.homepage-header.blocks.heading.name",
       "limit":1,
       "settings":[
          {
             "type":"text",
             "id":"heading_1",
             "default":"We ensure quality",
             "label":"t:sections.homepage-header.blocks.heading.settings.heading.label"
          },
          {
             "type":"text",
             "id":"heading_2",
             "default":"over quantity",
             "label":"t:sections.homepage-header.blocks.heading.settings.heading.label"
          },
          {
            "type": "select",
            "id": "color_scheme",
            "options": [
              {
                "value": "accent-1",
                "label": "t:sections.homepage-header.blocks.heading.settings.color_scheme.options__1.label"
              },
              {
                "value": "accent-2",
                "label": "t:sections.homepage-header.blocks.heading.settings.color_scheme.options__2.label"
              },
              {
                "value": "background-1",
                "label": "t:sections.homepage-header.blocks.heading.settings.color_scheme.options__3.label"
              }
            ],
            "default": "accent-2",
            "label": "t:sections.homepage-header.blocks.heading.settings.color_scheme.label"
          }
       ]
    },
    {
       "type":"text",
       "name":"t:sections.homepage-header.blocks.text.name",
       "limit":1,
       "settings": [
          {
             "type":"richtext",
             "id":"richtext",
             "default":"<p></p>",
             "label":"t:sections.homepage-header.blocks.text.settings.text.label"
          }
       ]
    },
    {
       "type":"buttons",
       "name":"t:sections.homepage-header.blocks.buttons.name",
       "limit":2,
       "settings":[
          {
             "type":"text",
             "id":"button_label_1",
             "default":"Button label",
             "label":"t:sections.homepage-header.blocks.buttons.settings.button_label_1.label",
             "info":"t:sections.homepage-header.blocks.buttons.settings.button_label_1.info"
          },
          {
             "type":"url",
             "id":"button_link_1",
             "label":"t:sections.homepage-header.blocks.buttons.settings.button_link_1.label"
          },
          {
             "type":"checkbox",
             "id":"button_style_secondary_1",
             "default":false,
             "label":"t:sections.homepage-header.blocks.buttons.settings.button_style_secondary_1.label"
          },
          {
             "type":"text",
             "id":"button_label_2",
             "default":"Collection",
             "label":"t:sections.homepage-header.blocks.buttons.settings.button_label_2.label",
             "info":"t:sections.homepage-header.blocks.buttons.settings.button_label_2.info"
          },
          {
             "type":"url",
             "id":"button_link_2",
             "label":"t:sections.homepage-header.blocks.buttons.settings.button_link_2.label"
          },
          {
             "type":"checkbox",
             "id":"button_style_secondary_2",
             "default":true,
             "label":"t:sections.homepage-header.blocks.buttons.settings.button_style_secondary_2.label"
          }
       ]
    }
  ]
}
{% endschema %}
